.wrapper {
    position: fixed;
    top: 10vh;
    z-index: 2;
    transition: transform .5s;
}

.tab {
    position: relative;
    width: 8vw;
    height: 8vh;
    text-align: center;
    line-height: 4vh;
    display: block;
    background: black;
    color: white;
    opacity: .6;
    box-shadow: 0 2px 2px #aaaaaa;
}

.content {
    display: block;
    width: 90vw;
    height: 45vh;
    background: black;
    color: white;
    opacity: .6;
    box-shadow: 2px 2px 2px #aaaaaa;
}

.noti {
    width: 2vw;
    height: 2vw;
    padding: 0 0;
    border-radius: 1vw;
    position: absolute;
    top: 0;
    background: red;
    display: block;
}